.auth-box {
  width: 320px;
  margin: 100px auto;
  padding: 25px;
  box-shadow: 0 0 10px #ccc;
  border-radius: 8px;
  text-align: center;
}

.auth-box input,
.auth-box select,
.auth-box button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.auth-box button {
  background: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
}
